TZ=UTC-3

# DATABASE
DATABASE_DRIVER=mysql
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# S3 (opcional / no usado actualmente)
AWS_S3_URL=
AWS_S3_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_BUCKET_NAME=

# APP
APP_URL=
FRONT_URL=
MP_ACCESS_TOKEN=
