.carouselBg {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dkv58dvqy/image/upload/v1757792207/01E50EA4-5D62-44E6-910C-FF201FE46E80_zodhlk.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay borroso y oscuro */
.carouselBg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(20px); 
  background: rgba(0,0,0,0.8); 
  z-index: 1;
  pointer-events: none;
}

.wrapper {
  position: relative;
  z-index: 2; 
  background: rgba(0,0,0,0.85); 
  border-radius: 24px;
  padding: 48px 32px;
  max-width: 1400px;
  margin: 48px auto;
  width: 100%;
  box-shadow: 0 4px 24px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.imageContainer {
  width: 100%;
  height: 600px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit:contain; 
  border-radius: 12px;
  
}

.carousel {
  width: 100%;
  max-width: 100%;
}

/* Overlay centrado en la parte inferior */
.overlay {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}


.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #FFD60A;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  letter-spacing: 3px;
}

.subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

:global(.mantine-Carousel-root) {
  background: #000 !important; /* fondo negro para el carrusel de Mantine */
}

