.plan-card {
  transition: all 0.3s ease;
  background-color: #fffaf5;
}

.plan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(255, 102, 0, 0.2);
}

.myplans-table {
  background-color: rgb(6, 6, 6);
  border-radius: 10px;
}

body {
  background-color: #070707;
}

/* MyPlans.css */

/* Tablas */
.myplans-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.myplans-table th,
.myplans-table td {
  border: 1px solid #eeff05ff;
  padding: 8px;
}

.myplans-table th {
  background-color: #222;
  color: #eeff05ff;
}

.myplans-table td {
  background-color: #333;
}

/* Encabezados de sección */
.myplans-section-title {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #eeff05ff;
  font-weight: bold;
  text-align: center;
}

/* Scroll horizontal si hace falta */
.myplans-table-container {
  overflow-x: auto;
}
